$responsiveBreak: 900px;
$dark: rgb(20, 20, 20);
$darkAccent: rgb(34, 34, 34);
$light: #bbb;
$accentColor: #1cd4ec;
$accentColorLight: #a3dfe7;
$successGreen: #479b47;
$defeatRed: #863c3c;

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

body {
  background: $dark;
  color: white;
}

a {
  color: $accentColor;
  &:visited {
    color: $accentColorLight;
  }
}

h1,
footer {
  text-align: center;
  margin: 0;
}
