@use 'base-styles';

.game-infos {
  text-align: center;
}

.round-time-bar {
  margin: 1rem;
  overflow: hidden;
  div.time-bar {
    width: 60%;
    margin: 0 auto;
    height: 8px;
    border-radius: 16px;
    animation: roundtime calc(var(--duration) * 1s) steps(var(--duration)) forwards;
    transform-origin: left center;
    background: base-styles.$accentColor;
  }
  &[data-style="smooth"] div.time-bar {
    animation: roundtime calc(var(--duration) * 1s) linear forwards;
  }
}

.end-game-status {
  color: white;
  width: 30%;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 8px;
  &.defeat {
    background: base-styles.$defeatRed;
  }
  &.win {
    background: base-styles.$successGreen;
  }
  p {
    margin: 16px;
  }
  button {
    font-size: 20px;
    &:hover{
      cursor: pointer;
    }
  }
  @media only screen and (max-device-width: base-styles.$responsiveBreak) {
    width: 95%;
  }
}

@keyframes roundtime {
  to {
    /* More performant than `width` */
    transform: scaleX(0);
  }
}