@use 'base-styles';

.leaderboard {
  position: absolute;
  right: 10px;
  top: 40%;
  text-align: center;
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px;
  background-color: base-styles.$light;
  color: base-styles.$dark;
  font-weight: bold;

  h2 {
    margin: 0;
  }

  ol {
    list-style-type: none;
    padding: 0;
  }

  @media only screen and (max-device-width: base-styles.$responsiveBreak) {
    position: initial;
    width: 20em;
    margin: 0 auto;
  }
}
