@use 'base-styles';

$cardHeight: 200px;
$cardWidth: 165px;
$cardHeightMobile: calc(#{$cardHeight}/1.6);
$cardWidthMobile: calc(#{$cardWidth}/1.6);
$rotateY: -180deg;
$transitionTime: var(--transition);

.memory-grid {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media only screen and (max-device-width: base-styles.$responsiveBreak) {
    width: 100%;
  }

  /* The flip card container */
  .memory-card {
    background-color: transparent;
    perspective: 1000px;
    height: $cardHeight;
    width: $cardWidth; 
    margin: 8px;
    @media only screen and (max-device-width: base-styles.$responsiveBreak) {
      width: $cardWidthMobile;
      height: $cardHeightMobile;
      margin: 4px;
    }

    /* This container is needed to position the front and back side */
    .memory-card-inner {
      position: relative;
      text-align: center;
      transition: transform $transitionTime;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      cursor: pointer;
      outline: none;

      /* Focus and hover effect */
      &:focus .memory-card-front,
      .memory-card-front:hover {
        box-shadow: 0 0 12px 4px base-styles.$accentColor;
      }

      /* Do an horizontal flip when this class is used */
      &.flipped {
        transform: rotateY($rotateY);
        cursor: default;
      }

      /* Position the front and back side */
      .memory-card-front,
      .memory-card-back {
        display: flex;
        position: absolute;
        min-height: $cardHeight;
        border-radius: 8px;
        backface-visibility: hidden;
        @media only screen and (max-device-width: base-styles.$responsiveBreak) {
          min-height: $cardHeightMobile;
        }

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      /* Card front side */
      .memory-card-front {
        background-color: base-styles.$light;
        transition: box-shadow 150ms;
      }

      /* Card bback side */
      .memory-card-back {
        background-color: base-styles.$darkAccent;
        transform: rotateY($rotateY);
      }
    }
  }
}
