@use 'base-styles';

.number-of-pairs-form {
  margin: 10px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 140px;
  position: absolute;
  left: 15px;
  top: 40%;

  input {
    margin: 5px 0 10px;
  }

  @media only screen and (max-device-width: base-styles.$responsiveBreak) {
    position: initial;
    width: 20em;
    margin: 0 auto;
  }
}
