<template>
  <div class="game-infos">
    <p>Play with a new set of images each game</p>
    <p>The countdown of {{ countdownTimer }} seconds will start when you flip the first card, good luck!</p>
    <div v-if="gameFinished && !allPairsFound" class="end-game-status defeat">
      <h2>Game over, do you want to retry?</h2>
      <button onClick="window.location.reload();">Refresh Page</button>
    </div>
    <div v-if="gameFinished && allPairsFound" class="end-game-status win">
      <h2>Well done, you found all pairs in {{ timeToFinish }} seconds</h2>
    </div>
    <!-- When the countDownTimer is dynamically set, the CSS animation starts -->
    <div v-if="!gameFinished" class="round-time-bar" data-style="smooth" :style="gameStarted ? '--duration: '+countdownTimer : 0">
    <div class="time-bar"></div>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    countdownTimer: {
      type: Number,
      required: true
    },
    gameStarted: {
      type: Boolean,
      required: true
    },
    gameFinished: {
      type: Boolean,
      required: true
    },
    allPairsFound: {
      type: null|Boolean,
      required: true
    },
    timeToFinish: {
      type: Number,
      required: true
    }
  }
};
</script>