<template>
  <div>
    <gameinfos v-bind:timeToFinish="timeToFinish" v-bind:countdownTimer="countdownTimer" v-bind:gameStarted="gameStarted" v-bind:gameFinished="gameFinished" v-bind:allPairsFound="allPairsFound"></gameinfos>
    <div class="memory-grid">
      <div :id="index" v-for="(card, index) in memoryCards" :key="index" class="memory-card" :style="'--transition: '+transition+'ms'">
        <div :tabindex="card.isFlipped ? -1 : 0" class="memory-card-inner" :class="card.isFlipped ? 'flipped' : null" @keyup.enter="flipCard(card)" @click="flipCard(card)">
          <div class="memory-card-front">
            <img class="memory-img" src="/images/tux.svg" alt="Tux">
          </div>
          <div class="memory-card-back">
            <img class="memory-img" :src="card.backImgSrc" :alt="card.backImgAlt">
          </div>
        </div>
      </div> 
    </div>
  </div>
</template>

<script>
import Gameinfos from "./gameinfos.vue";

export default {
  components: { Gameinfos }, 
  props: {
    gameArrayCount: {
      type: Number,
      required: true
    },
    countdownTimer: {
      type: Number,
      required: true
    }
  },
  created() {
    let tempCardsArray = Array.from(Array(this.gameArrayCount).keys())
    this.memoryCards = tempCardsArray.map((card, index) => {
      return {
        position: index,
        backImgSrc: null,
        backImgAlt: index,
        isFlipped: false,
        pairFound: false
      }
    })
  },
  methods: {
    getFlippedCards() {
      return this.memoryCards.filter(card => card.isFlipped && !card.pairFound)
    },
    flipBackNotPairedCards(flipTimeout, srcTimeout) {
      let flippedCards = this.getFlippedCards()
      if(this.areTwoNotPairedCardsFlipped()) {
        setTimeout( () => {
          flippedCards.forEach(card => {
            card.isFlipped = false

            // This part is used to remove the image src and alt when the card is flipped back to prevent cheating
            // Commented for now as it can behave strangely because of the inaccuracy of JavaScript timeouts
            // Strange behaviors only happens if the player clicks very quickly on the cards
            // setTimeout( () => {
            //   card.backImgAlt = card.position
            //   card.backImgSrc = null
            //   }, srcTimeout)
          })
        }, flipTimeout)
      }
    },
    flipCard(card) {
      let vm = this
      if(!this.gameStarted) {
        this.gameStarted = true
        
        // Timer to save the time taken to finish the game
        this.timer.start = new Date()

        // Event triggered when the CSS animation of the time bar finishes
        // Could probably be enhanced using Laravel broadcast to let the server announce the end of the game
        document.querySelector('.round-time-bar').addEventListener("animationend", () => vm.finishGame());
      }
      // Do nothing in these cases
      if(card.pairFound || card.isFlipped || this.gameFinished) return

      // This is used to flip back the already flipped cards in case the player click on another card before the end of the timeout 
      // It provides smoother game experience
      if(this.areTwoNotPairedCardsFlipped()) {
        this.flipBackNotPairedCards(0, this.transition/2)
      }

      // Post the card.position played to the backend
      axios.post('/api/flipcard', {
        flippedCardPosition: card.position
      })
      .then(response => {
        let data = response.data
        vm.allPairsFound = data.allPairsFound
        // Finish the game when the server tells us all pairs have been found
        if(data.allPairsFound) {
          vm.finishGame()
        }
        // Dynamically sets the img src and alt (to prevent cheating)
        card.backImgSrc = '/images/animals/'+data.cardName+'.svg'
        card.backImgAlt = data.cardName
        card.isFlipped = true

        if(data.pairFound) {
          let flippedCards = vm.getFlippedCards()
          flippedCards.forEach(flippedCard => flippedCard.pairFound = true);
        }
        vm.flipBackNotPairedCards(1000, vm.transition)
      })
      .catch(error => {
        console.error(error)
      })
    },
    finishGame() {
      this.gameFinished = true
      if(this.allPairsFound) {
        // End the timer
        this.timer.end = new Date()
        // Parse the time to float with 1 decimal in seconds
        this.timeToFinish = parseFloat(((this.timer.end.getTime() - this.timer.start.getTime()) / 1000).toFixed(1))
        this.registerScore(this.timeToFinish)
      }
    },
    registerScore(timeToFinish) {
      axios.post('/api/registerscore', {
        timeToFinish
      })
      .then(response => console.log(response, timeToFinish))
      .catch(error => console.error(error))
    }
  },
  data() {
      return {
          memoryCards: [],
          // Used to set the transitions for the timeout and for the CSS animation (passed with css variables when the game starts)
          transition: 300,
          allPairsFound: false,
          gameStarted: false,
          gameFinished: false,
          timer: {
            start: null,
            end: null
          },
          timeToFinish: 0,
          areTwoNotPairedCardsFlipped: () => this.memoryCards.filter(card => card.isFlipped && !card.pairFound).length >= 2
      }
  }
};
</script>